
  .profilePic {
    width: 125px;
    margin-bottom: 15px;
    border: 1px solid black;
    float: left;
  }
  .profileBioDiv {
    float: left;
    margin-left: 20px;
    border: 0px solid red;
    width: 95%;
  }
  .countsDiv {
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 0px solid red;
    width: 95%;
  }
  .instaImgDiv {
    width: 320px;
    float: left;
    padding-right: 10px;
    border: 0px solid blue;
    margin-bottom: 15px;
  }
  .moreDiv {
    width: 306px;
    height: 306px;
    padding-top: 45px;
    margin-top: 20px;
    border: 2px solid black;
    font-size: 50px;
    color: #CCC;
  }
  .nameBlock {
    display: inline;
    border: 0px dashed blue;
    float: left;
  }
  .likesAndCommentBlock {
    display: inline;
    border: 0px dashed red;
    float: right;
    text-align: right;
  }
  .instaImg {
    border: 1px solid black;
  }
  #userTitle {
    margin-left: 20px;
    margin-top: 0px;
    float: left;
    width: 95%;
  }
  #profileInfoContainer {
    width: 80%;
    border: 0px solid green;
    float: left;
    height: 125px;
  }
