/* import two google fonts 'Ovo and Muli' */
@import url(http://fonts.googleapis.com/css?family=Muli);
  h2,html,a {
    font-family: 'Muli'
  }

  .profilePic {
    width: 135px;
    margin-bottom: 15px;
    float: left;
  }
  .profileBioDiv {
    float: left;
    margin-left: 20px;
    border: 0px solid red;
    width: 95%;
  }
  .countsDiv {
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 0px solid red;
    width: 95%;
  }
  .instaImgDiv {
    position: relative;
    width: 320px;
    float: left;
    padding-right: 10px;
    border: 0px solid blue;
    margin-bottom: 15px;
  }
  .moreDiv {
    width: 310px;
    height: 310px;
    padding-top: 45px;
    margin-top: 20px;
    border: 1px solid #ccc;
    font-size: 50px;
    color: #CCC;
    border-radius: 4px;
  }
  .nameBlock {
    display: inline;
    border: 0px dashed blue;
    float: left;
    font-family: 'Muli'
  }
  .likesAndCommentBlock {
    display: inline;
    border: 0px dashed red;
    float: right;
    text-align: right;
  }
  #userTitle {
    margin-left: 20px;
    margin-top: 0px;
    float: left;
    width: 95%;
  }
  #profileInfoContainer {
    width: 80%;
    border: 0px solid green;
    float: left;
    height: 125px;
  }
  .instaVideo {
    position: absolute;
    top:  150px;
    left: 120px;
    color: #CCC;
  }
  #origImg {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid black;
  }
  #followsImg {
    width: 20%;
    float: left;
    margin-right: 20px;
  }
  #origLikesBox {
    width: 65%;
    float: left;
    border: 0px dashed blue;
  }

  .likersBox {
    width: 33%;
    min-width: 255px;
    height: 60px;
    float: left;
    border: 0px dashed red;
    margin-left: 2px;
    margin-bottom: 11px;
    border-bottom: 1px solid #CCC;
  }
  .followsBox {
    width: 33%;
    min-width: 255px;
    height: 60px;
    float: left;
    border: 0px dashed red;
    margin-left: 2px;
    margin-bottom: 11px;
    border-bottom: 1px solid #CCC;
  }
  .likeProfilePic {
    width: 50px;
    float: left;
  }
  .followProfilePic {
    width: 50px;
    float: left;
  }
  .likeProfileInfo {
    width: 76%;
    height: 99px;
    float: left;
    border: 0px dashed green;
    padding-left: 7px;
    margin-Left: 1px;
  }
  .followProfileInfo {
    width: 76%;
    height: 99px;
    float: left;
    border: 0px dashed green;
    padding-left: 7px;
    margin-Left: 1px;
  }
  .navLogo {
    width: 100px;
    position: relative;
    top: -5px;
  }
